{% extends 'layouts/main.html' %} {% block title %} Home {% endblock %} {% block
content %}
<div class="container-fluid">
  <form
    id="upload-file"
    method="post"
    enctype="multipart/form-data"
    action="{{url_for('make_prediction')}}"
  >
    <div class="form-row">
      <div class="col-md-6 custom-file mb-3">
        <input
          required
          type="file"
          class="custom-file-input"
          name="image_file"
          id="image_file"
        />
        <label class="custom-file-label" for="image_file"
          >Upload an image</label
        >
      </div>
      <div class="col-md-4 d-inline-flex">
        <span>
          <button
            id="upload-file-btn"
            type="button"
            class="btn btn-primary d-block"
          >
            Submit
          </button>
        </span>
        <div
          style="display:none"
          id="upload-spinner"
          class="spinner-border text-primary ml-3"
          role="status"
        >
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </div>
  </form>
  <div class="mt-4 form-row mx-auto">
    <div id="uploaded-file-card"></div>
  </div>
</div>
<script>
  function toggleUploadSpinner() {
    $("#upload-spinner").toggle();
  }
  function processUploadResp(data) {
    $("#uploaded-file-card").replaceWith(data.html);
  }

  $(function () {
    $("#upload-file-btn").click(function () {
      toggleUploadSpinner();
      var form_data = new FormData($("#upload-file")[0]);
      $.ajax({
        type: "POST",
        url: "{{url_for('make_prediction')}}",
        data: form_data,
        contentType: false,
        cache: false,
        processData: false,
        success: function (data) {
          toggleUploadSpinner();
          processUploadResp(data);
        },
        error: function (data) {
          toggleUploadSpinner();
          alert(data.responseJSON.error_text);
          console.log("error!");
        },
      });
    });
  });

  // show the uploaded file name inside the upload input element
  $(".custom-file-input").on("change", function () {
    var fileName = $(this).val().split("\\").pop();
    $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
  });
</script>
{% endblock %}
