{% extends 'layouts/main.html' %}
{% block title %}Home{% endblock %}
{% block content %}

<div class="container" style="margin-top: 30px">
  <div class="row">
    {% if user_image %}
    <img src="{{ user_image }}" alt="User Image" width="150" height="150" />
    {% endif %}
  </div>
  <div class="row">
    {% if predictions %} {% for cat, pred in predictions.items() %}
    {{cat}}:{{pred}} {% endfor %} {% endif %}
  </div>
  <div class="row">
    {% if image_prediction %}
    <h2>{{image_prediction}}</h2>
    {% endif %}
  </div>
  <form id="upload-file" method="post" enctype="multipart/form-data" action="{{url_for('make_prediction')}}">
    <div class="row">
      <div class="col custom-file">
        <input required type="file" class="custom-file-input" name="image_file" id="image_file">
        <label class="custom-file-label" for="image_file">Upload an image</label>
      </div>
      <div class="col">
        <button id="upload-file-btn" type="button" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </form>
</div>
<script>
  $(function () {
    $('#upload-file-btn').click(function () {
      var form_data = new FormData($('#upload-file')[0]);
      $.ajax({
        type: 'POST',
        url: "{{url_for('make_prediction')}}",
        data: form_data,
        contentType: false,
        cache: false,
        processData: false,
        success: function (data) {
          console.log(data);
        },
      });
    });
  });


  // show the uploaded file name inside the upload input element
  $(".custom-file-input").on("change", function () {
    var fileName = $(this).val().split("\\").pop();
    $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
  });
</script>
{% endblock %}